<!DOCTYPE html>
<html lang="en">

<head th:fragment="head-principal">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Talents&Pymes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">

  <link th:href="@{/bootstrap/css/estilo.css}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/90e8f06232.js" crossorigin="anonymous"></script>
</head>

<body>
<header class="navbonito" th:insert="bases/navegador :: menu-principal"> </header>

<main role="main">
  <hr>
  <div class="container">

    <div class="listas">
      <h4 class="titulolistas"><strong>Listado de Usuarios</strong></h4>
      <div class="card-body">
        <hr>
        <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
        <table class="table table-hover">
          <thead class="thead-light">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.estatus == 1 ? 'Activo' : 'Bloqueado' }"></td>

            <td>
              <a th:href="@{/usuarios/borrar/{id} (id=${usuario.idUsuario}) }" onclick="return confirm('¿Estas seguro?')" class="btn btn-listas btn-sm" role="button" title="Eliminar"><i class="fa-solid fa-trash"></i></a>
              <a th:href="@{/}" onclick="return confirm('¿Quiere bloquear el acceso al usuario?')" class="btn btn-listas btn-sm" role="button" title="Bloquear el acceso al sistema para este usuario."><i class="fas fa-lock" aria-hidden="true"></i></a>
            </td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div> <!-- /container -->

</main>

<footer class="footer bg-dark" th:insert="bases/footer :: footer-principal">

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>