<!DOCTYPE html>
<html lang="en">

<head th:fragment="head-principal">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Talents&Pymes</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">

    <link th:href="@{/bootstrap/css/estilo.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90e8f06232.js" crossorigin="anonymous"></script>
</head>

<body>
<header class="navbonito" th:insert="bases/navegador :: menu-principal"> </header>
<section class="contenedor">
    <div class="crear">
        <h1>Iniciar sesión</h1>
        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                <span class="text-danger">Usuario / Password incorrectos!</span>
            </div>

            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <div class="contenido">
                <input class="input"
                       type="text" name="username" id="username"
                       placeholder="Username"
                       required></div>

            <div class="contenido">
                <input class="input"
                       type="password" name="password" id="password" placeholder="Contraseña"
                       required></div>

            <div class="contenido">
                <button type="submit">Ingresar</button></div>

        </form>
        <hr>
        <p>¿No estás registrado? <a th:href="@{/signup}">Crea una cuenta</a></p>
    </div>
</section>
<footer class="footer bg-dark" th:insert="bases/footer :: footer-principal"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>